<main>
  <div class="text-center box-title">
    <nav class="breadcrumb text-center d-flex justify-content-center bg-white">
      <a class="breadcrumb-item default" href="/home">Home</a>
      <span class="breadcrumb-item active">about</span>
    </nav>
    <h3 class="title">About Us</h3>
    <div class="container">
    </div>
  </div>
  <div class="container">
      <div class="row mt-5 align-items-center justify-content-between">
          <div class="col-md-6 text-center">
              <img src="../../../assets/imgUser/tuan.jpg" alt="image" width="300px">
          </div>
          <div class="col-md-6 toRight">
              <h3 class="mb-5">Nguyen Van Tuan</h3>
              <p class="contact">Address: Toa Nha HTC, 250 Hoang Quoc Viet, Co Nhue, Cau Giay, Ha Noi.</p>
          </div>
      </div>
      <div class="row mt-5 align-items-center">
        <div class="col-md-6 text-center">
            <img class="imgToLeft" src="../../../assets/imgUser/yen.jpg" alt="image" width="300px">
        </div>
          <div class="col-md-6 toLeft">
              <h3 class="mb-5">Nguyen Thi Yen</h3>
              <p class="contact">Email: tuanflute275@gmail.com</p>
          </div>
      </div>
      <div class="row mt-5 align-items-center">
          <div class="col-md-6 text-center">
              <img src="../../../assets/imgUser/toan.jpg" alt="image" width="300px">
          </div>
          <div class="col-md-6 toRight">
              <h3 class="mb-5">Nguyen Cao Toan</h3>
              <p class="contact">Phone: (+84)353 915 619</p>
          </div>
      </div>
      <div class="row mt-5 align-items-center">
        <div class="col-md-6 text-center imgToLeft">
            <img  src="../../../assets/imgUser/ha.jpg" alt="image" width="300px">
        </div>
          <div class="col-md-6 toLeft">
              <h3 class="mb-5">Le Thi Thu Ha</h3>
              <p class="contact">Class: C2208G</p>
          </div>
      </div>
  </div>
</main>
